:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F7F5EF;
  --p-datatable-header-background: #F7F5EF !important;
  --p-datatable-header-cell-background: #F7F5EF !important;
  --p-datatable-row-background: #F7F5EF !important;
  --p-datatable-header-cell-border-color: #F7F5EF !important;
  --p-datatable-header-border-color: #F7F5EF !important;
  --p-datatable-body-cell-border-color: #F7F5EF !important;
  --p-datatable-header-color: #000 !important;
  --p-datatable-header-cell-color: #000 !important;
  --p-datatable-row-color: #000 !important;
}
body{
  margin:0;
}

